//ОСНОВНАЯ РАЗМЕТКА
*
  box-sizing border-box
  font-family serif

body
  background #EBEBEB
  margin 0 auto

//БАЗОВАЯ СТРАНИЦА
.page
  display flex
  min-height 100vh
  flex-direction column

  &__header
    border-top 1px solid #D9D9D9
    h1
      font-size 50px
      text-align center

  &__content
    flex-grow 2
    padding 0 20px
    margin auto

  &__footer
    font-size 18px
    height 64px
    align-items center
    display flex
    justify-content space-between
    padding 0 48px
    border-top 1px solid #939393
    border-bottom 1px solid #D9D9D9

    &-address
      color #4C5FAC
      font-style normal

 //ЦЕНТРАЛЬНЫЙ БЛОК
.main
  display flex

  &__navigation
    background #D9D9D9

  &__content
    padding 0 16px

  &__sidebar
    min-width 240px

.navigation
  &__list
    list-style none
    margin 0
    padding 0
  &__item

    label
      font-size 26px
      box-shadow inset 0px -1px 0px 0px rgba(255,255,255,1);
      border-top 1px solid #b8b8b8
      height 62px
      display flex
      align-items center
      padding 0 14px
      white-space nowrap
      transition background color 0.5s linear

      &:hover
        background #5A5A5A
        color #fff
        cursor pointer

[name="breed"]
  display none

//логика выбора пункта меню
#breed-1:checked ~ .main__navigation [for="breed-1"],
#breed-2:checked ~ .main__navigation [for="breed-2"],
#breed-3:checked ~ .main__navigation [for="breed-3"],
#breed-4:checked ~ .main__navigation [for="breed-4"]
  background #5A5A5A
  color #fff

 //РЕЙТИНГ
.rating
  background #D9D9D9
  padding 0 14px

  &__list
    list-style none
    margin 0
    padding 0 20px 0 0
    display flex
    flex-direction column
    position relative

    & > li
      margin-bottom 10px

  &__title
    color #C92C1F
    text-transform uppercase
    margin 0
    font-size 28px
    line-height 42px

  &__control
    text-align right

  &__pseudo
    &:after
      content '☐'
      margin-left 5px
      display inline-block
      font-size 20px
      vertical-align middle

  &__subtitle
    font-size 26px
    white-space nowrap

  &__gradient
    height 20px
    background linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%)

    i
      position absolute
      right 0

    for num in (1..100)
      li[data-rating={'"'+num+'"'}] &
        width num+'%'
     //логика отрисовки градиента
    [data-rating="10"] &,
    [data-rating="20"] &,
    [data-rating="30"] &,
    [data-rating="40"] &,
    [data-rating="50"] &,
    [data-rating="60"] &
      background linear-gradient(to right, rgba(#D73527,1) 0%, rgba(255,255,255,1) 100%)

    [data-rating="70"] &,
    [data-rating="80"] &
      background linear-gradient(to right, rgba(#FEF659,1) 0%, rgba(255,255,255,1) 100%)

    [data-rating="90"] &,
    [data-rating="100"] &
      background linear-gradient(to right, rgba(#6AE37D,1) 0%, rgba(255,255,255,1) 100%)

   #rating
    display none

   #rating:checked
     & ~ .rating__control > .rating__pseudo:after
       content "☑"

   #rating ~ .rating__list
     for num in (1..10)
       li[data-rating={'"'+num+'"'}]
        order: num

  #rating ~ .rating__list
    transition flex-direction 4s
    flex-direction column

  #rating:checked ~ .rating__list
    flex-direction column-reverse

// СЕТКА С ШАБЛОНОМ
.grid
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-template-areas "a b b" "c d f" "g g z" "h h h"
  grid-gap 10px

  div
    background #fff
    display flex
    align-items center

  &__h
    grid-area h

  &__b
    grid-area b

  &__a
    grid-area a

  &__g
    grid-area g

  &__z
    grid-area z

//КАРТИНКА С ПОДПИСЬЮ
.figure
  margin 0
  position relative
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%

  &__img
    max-width 100%
    margin auto
    display block
    min-height 150px
    max-height 300px


  &__caption
    position absolute
    left 0
    top 50%
    line-height 68px
    margin-top -34px
    background rgba(black .5)
    color: #fff
    font-size 34px
    padding 0 10px
    opacity  0
    transition: opacity 0.5s linear;

    .figure:hover &
      opacity 1

//ЛОГИКА ВЫБОРА ПОРОДЫ
#breed-1:checked ~ .main__content [data-breed="breed-1"],
#breed-2:checked ~ .main__content [data-breed="breed-2"],
#breed-3:checked ~ .main__content [data-breed="breed-3"],
#breed-4:checked ~ .main__content [data-breed="breed-4"]
  opacity .3